@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #FA9A24;
  --clr-2: #CE820F;
  --clr-3: #6358AD;
}

.bg-orange {
  background-color: #EA5;
  background: radial-gradient(61.15% 61.15% at 68.85% 66.54%, #EA5 0%, rgba(234, 88, 12, 0) 100%);
  background: conic-gradient(from -51.38deg at 68.85% 66.54%, #EA5 0deg, rgba(234, 88, 12, 0) 360deg);
  mix-blend-mode: color-burn;
}

.bg-purple {
  background: conic-gradient(from -51.38deg at 68.85% 66.54%, #380CEA 0deg, rgba(234, 88, 12, 0) 360deg);
  mix-blend-mode: color-burn;
}

.card {
  --x-px: calc(var(--x) * 1px);
  --y-px: calc(var(--y) * 1px);
  --border: 2px;
  backdrop-filter: blur(80px);
}
.card:before,
.card:after {
  content: "";
  position: absolute;
  inset: -0.25rem;
  z-index: -1;
  background: radial-gradient(800px circle at var(--x-px) var(--y-px), rgba(255, 255, 255, 0.3), transparent 40%);
  border-radius: inherit;
}

.card-content {
  border-radius: inherit;
  inset: var(--border);
  z-index: 1;
}
